.about-section{
    border-top: 1px solid slategray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    background-color:#fff;
    font-size: 20px;
    text-align: center;
}

 

.about-pic{
  display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    border: 4px solid rgb(199, 202, 25);
    border-radius: 10px;

}
.about-details{
    display: grid;
    grid-template-columns: auto;
    justify-content: start;
    align-items:start;
    flex: 1;
    padding-right: 2px;
    font-size: 20px;
   
    
}


.awar-pic img{
   
    object-fit: contain;
    background-size: cover;
    height: 440px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
}

.about-wrapper  h3{
    font-size: 28px;
    font-weight: 550;
    color: rgb(107, 91, 91);
    padding-top: 1rem;
    text-align: center;
}


.about-wrapper p{
    font-size: 18px;
    color: rgb(107, 91, 91);
    text-align: start;
    justify-content: start;
    align-items: start;
    padding: 1rem 2rem;
    line-height: 2;
    word-spacing: 1.4px;
    letter-spacing: 1px;
    
}

.about-wrapper h4{
    font-size: 22px;
    color: rgb(107, 91, 91);
    text-align: center;
    justify-content: start;
    align-items: start;
    padding: 0rem 2rem;
    line-height: 2;
    word-spacing: 1.4px;
    letter-spacing: 2px;
}



.about-wrapper ul{
    font-size: 18px;
    color: rgb(107, 91, 91);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
    line-height: 2;
    word-spacing: 1px;
    letter-spacing: 1px;
}



@media only screen and (max-width: 1000px){

    .about-section{
        border-top: 1px solid slategray;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 100vh;
        background-color:#fff;
        font-size: 18px;
        text-align: center;
        
    }
    
  }


 
  @media only screen and (max-width: 800px){
	/*Small smartphones [325px -> 425px]*/
    .about-section{
        border-top: 1px solid slategray;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 110vh;
        background-color:#fff;
        font-size: 18px;
        text-align: center;
    }

    .about-details{
        display: grid;
        grid-template-columns: auto;
        justify-content: start;
        align-items:start;
        padding-right: 2px;
        font-size: 20px;
       
        
    }



.about-wrapper  h3{
    font-size: 22px;
    font-weight: 550;
    color: rgb(107, 91, 91);
    padding-top: 1rem;
    text-align: center;
}


.about-wrapper p{
    font-size: 15px;
    color: rgb(107, 91, 91);
    text-align: start;
    justify-content: start;
    align-items: start;
    padding: 1rem 2rem;
    line-height: 2;
    word-spacing: 1.4px;
    letter-spacing: 1px;
    
}

.about-wrapper h4{
    font-size: 20px;
    color: rgb(107, 91, 91);
    text-align: center;
    justify-content: start;
    align-items: start;
    padding: 0rem 2rem;
    line-height: 2;
    word-spacing: 1.4px;
    letter-spacing: 2px;
}



.about-wrapper ul{
    font-size: 15px;
    color: rgb(107, 91, 91);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem;
    line-height: 2;
    word-spacing: 1px;
    letter-spacing: 1px;
}
}
        
    



@media only screen and (max-width: 425px) {

    .about-section{
        border-top: 1px solid slategray;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 130vh;
        background-color: #fff;
        font-size: 18px;
        text-align: center;
        
    }
    
  }
